.Rproj.user
.Rhistory
.RData
.DS_Store
.here

_book
bib
csas-style
csl
figures
templates

*.aux
*.html
*.knit.md
*.log
*.Rproj
*.code-workspace
*.upb

shorelinemod_analysis/shorelinemod_analysis.gdb
shorelinemod_analysis/.backups
shorelinemod_analysis/shorline_mapping_explore.aprx
